.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

h1 {
	text-align: center;
}

div {
	text-align:center;
}

div img {
	margin: auto;
}

form {
	display: block;
	text-align:center;
}

.result-label {
	margin: 2px;
	font-size: 5vh;
}

.result {
	margin-top: 10px;
}

.result img {
	width: 70%;
}

@media screen and (min-width: 64em) {
	.result img {
		width: 50%;
	}
}
